{% extends "app/base.html" %}
{% load static  %}

{% block title %} About {% endblock title %}

{% block main-content %}
    <div class="container mt-3">
        <br>
        <h2 class="text-center"> Contact </h2>
        <br>
        <div class="row container">
            <p class='fs-3 text-center'>Address:Jubilee Hills, Hyderabad – 500 033.Telangana, Ấn Độ.</p>
            <p class='fs-3 text-center'>Contact:+91 40 4546 7777</p>
            <p class='fs-3 text-center'>Email:  nd.cuong1001@gmail.com</p>
        </div>
        <br><br>
    </div>
{% endblock main-content %}